# Tuple

In [52]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [53]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [54]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [55]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [56]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [57]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [58]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## Unpacking tuples

In [59]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [61]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [62]:
a, b = 1, 2
b, a = a, b
print(a, b)

2 1

In [63]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq: 
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [64]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [65]:
a, b

(1, 2)

In [66]:
rest

[3, 4, 5]

In [67]:
a, b, *_ = values
print(a, b)

1 2

## Tuple Methods

In [80]:
a = (1, 2, 2, 2, 3, 4, 2)

a.count(2)

4

# List

In [81]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

## Adding and removing elements

In [75]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [76]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [77]:
popped_item = b_list.pop(2)
popped_item

'bar'

In [78]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [79]:
b_list.append('foo')
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

## Concatenating and combining lists

In [82]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [83]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

## Sorting

In [84]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [85]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']