# Tuple

In [52]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [53]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [54]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [55]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [56]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [57]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [58]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## Unpacking tuples

In [59]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [61]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [62]:
a, b = 1, 2
b, a = a, b
print(a, b)

2 1

In [63]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq: 
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [64]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [65]:
a, b

(1, 2)

In [66]:
rest

[3, 4, 5]

In [67]:
a, b, *_ = values
print(a, b)

1 2

## Tuple Methods

In [80]:
a = (1, 2, 2, 2, 3, 4, 2)

a.count(2)

4

# List

In [81]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

## Adding and removing elements

In [75]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [76]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [77]:
popped_item = b_list.pop(2)
popped_item

'bar'

In [78]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [79]:
b_list.append('foo')
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

## Concatenating and combining lists

In [82]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [83]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

## Sorting

In [84]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [85]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

## Binary search and maintaining a sorted list

In [86]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2)

4

In [87]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

## Slicing

In [89]:
seq = [7, 2, 3, 7, 5, 6]
seq[1:4]

[2, 3, 7]

In [90]:
seq[2:4] = [6, 3]
seq

[7, 2, 6, 3, 5, 6]

In [91]:
seq[::2]

[7, 6, 5]

In [92]:
seq[::-1]

[6, 5, 3, 6, 2, 7]

# Built-in Sequence Functions

## enumerate

In [93]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

## sorted

In [94]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [95]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## zip

In [99]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
print(zipped,'\n',list(zipped))

<zip object at 0x0000020398F80800>
 [('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [100]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [101]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(f'{i}: {a}, {b}')

0: foo, one
1: bar, two
2: baz, three

In [102]:
pitchers = [('Himanshu', 'Shekhar'), ('Sabhye', 'Singhal'), ('Anurag', 'Gupta')]
first_names, last_names= zip(*pitchers)

print(first_names, last_names)

('Himanshu', 'Sabhye', 'Anurag') ('Shekhar', 'Singhal', 'Gupta')

## reversed

In [103]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# dict