# Tuple

In [9]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [10]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [11]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [12]:
try:
    tup[2] = False
except TypeError:
    print('TypeError')

TypeError

In [13]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## Unpacking tuples

In [16]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [17]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [18]:
a, b = 1, 2
b, a = a, b
print(a, b)

2 1

In [19]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq: 
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [21]:
a, b

(1, 2)

In [22]:
rest

[3, 4, 5]

In [23]:
a, b, *_ = values
print(a, b)

1 2

## Tuple Methods

In [24]:
a = (1, 2, 2, 2, 3, 4, 2)

a.count(2)

4

# List

In [25]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

## Adding and removing elements

In [26]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [27]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [28]:
popped_item = b_list.pop(2)
popped_item

'bar'

In [29]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [30]:
b_list.append('foo')
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

## Concatenating and combining lists

In [31]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [32]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

## Sorting

In [33]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [34]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

## Binary search and maintaining a sorted list

In [35]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2)

4

In [36]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

## Slicing

In [37]:
seq = [7, 2, 3, 7, 5, 6]
seq[1:4]

[2, 3, 7]

In [38]:
seq[2:4] = [6, 3]
seq

[7, 2, 6, 3, 5, 6]

In [39]:
seq[::2]

[7, 6, 5]

In [40]:
seq[::-1]

[6, 5, 3, 6, 2, 7]

# Built-in Sequence Functions

## enumerate

In [41]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

## sorted

In [42]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [43]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## zip

In [44]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
print(zipped,'\n',list(zipped))

<zip object at 0x000001D4B674B2C0>
 [('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [45]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [46]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(f'{i}: {a}, {b}')

0: foo, one
1: bar, two
2: baz, three

In [47]:
pitchers = [('Himanshu', 'Shekhar'), ('Sabhye', 'Singhal'), ('Anurag', 'Gupta')]
first_names, last_names= zip(*pitchers)

print(first_names, last_names)

('Himanshu', 'Sabhye', 'Anurag') ('Shekhar', 'Singhal', 'Gupta')

## reversed

In [48]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# dict

In [49]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [51]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [52]:
d1['b']

[1, 2, 3, 4]

In [53]:
'b' in d1

True

In [55]:
del d1['a']
d1

{'b': [1, 2, 3, 4], 7: 'an integer'}

In [57]:
ret = d1.pop('b')
print(ret, d1)

[1, 2, 3, 4] {7: 'an integer'}

In [58]:
list(d1.keys())

[7]

In [59]:
list(d1.values())

['an integer']

In [60]:
d2 = {'b': 'foo', 'c': 12}
d1.update(d2)
d1

{7: 'an integer', 'b': 'foo', 'c': 12}

## Creating dicts from sequences

In [63]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## Default values

In [65]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [70]:
by_letter1 = {}
for word in words:
    letter = word[0]
    by_letter1.setdefault(letter, []).append(word)

by_letter1

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [72]:
from collections import defaultdict
by_letter2 = defaultdict(list)
for word in words:
    by_letter2[word[0]].append(word)
by_letter2

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

## Valid dict key types

In [73]:
hash('string')

-5061734296035420947

In [75]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [77]:
try:
    hash((1, 2, [2, 3]))
except TypeError:
    print('TypeError')

TypeError

# set